@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 1200px) {
    .container {
        width: 84%;
        margin: auto;
    }
    .news-page-one {
        .left {
            display: block !important;
        }
        .sidebar {
            display: none !important;
        }
        .breadcrumb {
            .pages {
                display: flex;
            }
        }
    }
    .dincidunteros {
        .left {
            display: block !important;
        }
        .sidebar {
            display: none !important;
        }
        .breadcrumb {
            .pages {
                display: flex;
            }
        }
    }
}

@media (min-width: 1020px){
    .dincidunteros{
        .select-top{
            .select{
                width: 20% !important;
                justify-content: start !important;
                // padding-left: 2%;
            }
            .right{
                width:80%;
                .select-form{
                    width: 25%;
                }
                .search-btn{
                    width: 15%;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 1020px){
    .dincidunteros{
        .select-top{
            .right{
                width:80%;
                flex-wrap: nowrap;
                justify-content: center;
                .select-form{
                    width: 27%;
                }
                .search-btn{
                    width: 15%;
                }
            }
        }
    }
}


@media (max-width: 576px) {
    .dincidunteros{
        .select-top{
            .right{
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}